tr:nth-child(even) {background-color: #f2f2f2;}
th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}
table {
	float:left;
	width:20%;
	max-height:500px;
}


#main {
	width:80%;
	margin:auto;
	padding-top:20px;
	border:1px solid blue;
	height:600px;
}
#display {
	float:right;
	margin-top: 20px;
	width:75%;
	border:1px solid red;
	height:500px;
}