<!DOCTYPE html>
<html>
<head>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" href="style.css" type="text/css"></link>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
<script type="text/javascript" src="bot.js"></script>

</head>
<body>
		<nav class="navbar navbar-inverse">eee</nav>
		<div id="chat" style="height:800">
			<input id="input" type="text" style="margin-left: 10.5%;width:50%">
			<button onclick="sendToBot()">Send</button>
			<form style="display:inline" action="/" method="get">
				<input type="submit" style="display:inline; margin-left: 30px;" value="Back to Human Chat">
			</form>
			<form style="display:inline" action="/rtt" method="get">
				<input type="submit" style="display:inline; margin-left: 30px;" value="PLAY THE GAME!">
			</form>

		<div id="chat_window" class="container-fluid" style="height:500px;width:79%;margin:auto;margin-top:30px;overflow-y:scroll;border:1px solid black;padding:0;">		
			</div>
		</div>

</body>
</html>