<!DOCTYPE html>
<html>
<head>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" href="lobby.css" type="text/css"></link>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
<script type="text/javascript" src="lobby.js"></script>
</head>

<body>
	<nav class="navbar navbar-inverse">eee</nav>
	<form action="" method="get" id="startGameForm" style="display:none;">
	</form>
	<div id="main" class="container-fluid" >
		<div class="row">
			<div class="col col-md-3">
				<button onclick="joinFirstAvailableGame()">Join First Available Game</button>
			</div>
			<div class="col col-md-6">
					Game ID&nbsp;<input id="gameIdInput" type="text" id="game_id">
					<button onclick="joinGameById()">Find Game</button>
			</div>
			<div class="col col-md-3">
				<button onclick="createGame()">Create Game</button>
				<button onclick="leaveGame()">Leave Game</button>
			</div>

		</div>
		<button style="margin-top:20px;" onclick='refresh()'><span class="glyphicon glyphicon-refresh"></span></button>
		<table id="displayGames">
			<tr><th>Game ID</th><th>Players</th></tr>
		</table>
		<div id="display"></div>

	</div>

</body>
</html>